*.pyc
*.crt
*.key
*.bak
*key.json
lira-config.json
lira-deployment.yaml
lira-ingress.yaml
lira-service.yaml
firecloud-tools/*
firecloud-tools
kubernetes/vault-edit
scripts/hmac_keys
.DS_Store
scripts/bluebox-subscription-manager-key-staging.json
*dynamic_config.sh
