wheel==0.32.3
connexion[swagger-ui]==2.2.0
google-auth==1.5.0
google-cloud-storage==1.9.0
flask>=1.0.0
gunicorn==19.9.0
gevent==1.4.0
requests==2.20.0
requests-mock==1.5.0
oauth2client==4.1.2
mock==2.0.0
requests-http-signature==v0.0.3
cromwell-tools>=1.1.1, <2
black==19.3b0
flake8==3.7.7
pre-commit==1.14.4
google-cloud-pubsub==0.39.1
git+git://github.com/HumanCellAtlas/pipeline-tools@v0.56.3